{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
      type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
      type="image/x-icon"> {% endblock %}
<div><img>favicon.ico</img>
</div>


{% block page_content %}
<div class="page-header">
    <h1>Not Found</h1>
    <img>favicon.ico</img>
</div>
{% endblock %}
